*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background: linear-gradient(180deg, #807ECE 0%, #8E7ECE 100%);
  font-family: 'Rubik', sans-serif;
}

.calc{
  margin: 80px auto;
  background-color: #2D2A37;
  width: 356px;
  height: 566px;
  padding: 54px 32px 32px 32px;
  border-radius: 48px;
  border-radius: 48px;
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.22) inset, 0px 6px 8px 0px rgba(255, 255, 255, 0.10) inset, 0px 8px 17px 0px rgba(0, 0, 0, 0.29), 0px 30px 30px 0px rgba(0, 0, 0, 0.26), 0px 68px 41px 0px rgba(0, 0, 0, 0.15), 0px 120px 48px 0px rgba(0, 0, 0, 0.04), 0px 188px 52px 0px rgba(0, 0, 0, 0.01), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.calc .display{
  width: 288px;
  height: 86px;
  padding: 0 22px ;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.display > span{
  display: block;
  text-align: end;
  color: #6B6B6B;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2px;
}
.display > div{
  display: flex;
  justify-content: space-between;
}
.display > div > span{
  font-size: 36px;
  color: #EBEBEB;
}



.keyboard > div{
  display: flex;
  justify-content: space-around;
  margin: 12px 0;
}
.keyboard > div > button{
  width: 64px;
  height: 64px;
  border-radius: 999px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2D2A37;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  color: #EBEBEB;
  box-shadow: 0px 2px 3px 0px rgba(255, 255, 255, 0.10) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.29), 0px 2px 4px 0px rgba(0, 0, 0, 0.26), 0px 4px 6px 0px rgba(0, 0, 0, 0.10), 0px 7px 7px 0px rgba(0, 0, 0, 0.04), 0px 11px 7px 0px rgba(0, 0, 0, 0.01);
}


#divide, #multiply, #subtract, #addiction{
background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0.01%, rgba(255, 255, 255, 0.05) 100%), #462878;
}
#equality{
background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.05) 100%), #7F45E2;
}


